## find /Users/mariapalafox/Desktop/TOOLBOXR -name ".git" -print
moving_data_to_minerva_steps.sh

.DS_Store
.idea
*.pyc
*__pycache__*
LICENSE
README
*.gz
*.vcf
#*.html

*.txt
*.csv
*.tsv

*pptx
*.docx
*.doc
*.xlsx
*.xls

*.png
*.JPG
*.jpeg
*.pdf

