## find /Users/mariapalafox/Desktop/TOOLBOXR -name ".git" -print
5-annotation/3-summarize/.Rhistory
5-annotation/3-summarize/.ipynb_checkpoints/
5-annotation/3-summarize/.vscode/
5-annotation/3-interpret/WGS.Rproj
2-slack/
2-slack
4-gatk/screenshot-gatk-youtube/
4-gatk/screenshot-gatk-youtube
5-annotation/.vscode/
1-raw/
1-raw
4-gatk/STEP2/step2_error_logs/
4-gatk/STEP2/step2_error_logs
3-hg38_bundle_wget
3-hg38_bundle_wget/

*.code-workspace
*.stderr
*.stdout
*.stderr.txt
*.stdout.txt
*.DS_Store
.DS_Store
.idea
*.pyc
*__pycache__*
LICENSE
*.exe
*.gz
*.zip
*.csi
*.vcf
*.html
*.txt
*.tsv
#.pdf
#.rtf
*.csv
*.pptx
*.docx
*.key
*.doc
*.xlsx
*.xls
#*.png
#*.JPG
#*.jpeg
#*.svg



.Rproj.user
